* {
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  background-color: gray;
}
.container {
  position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0px 80px;
  background-color: #706233;
}
.container .tab {
  padding: 10px;
}
.container .tab a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: aliceblue;
  opacity: 0.5;
}
.container .heading {
  padding: 15px 0px;
  margin: 20px 0px 40px 0px;
  background-color: #ff9800;
}
.container .heading h1 {
  color: #fff;
  display: inline-block;
}
.container .heading .underline {
  border-bottom: 2px solid #fff;
  width: 400px;
}
.container .hash {
  position: absolute;
  top: 230px;
  left: 30px;
  background-color: #ff9800;
  min-width: 50px;
  min-height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.container .main-content {
  background-color: #faeed1;
  padding: 20px;
}
.container .main-content p {
  width: 540px;
  font-size: 20px;
}
.container .main-content .complicated-stuff {
  margin-left: 35px;
}
.container .main-content .complicated-stuff ul {
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}
.container .main-content .complicated-stuff ul li {
  position: relative;
  width: 90px;
  margin-bottom: 2px;
  text-align: center;
  color: #fff;
  background-color: green;
  list-style: none;
  padding: 10px 15px;
  font-size: 14px;
}
.container .main-content .complicated-stuff ul li label {
  position: absolute;
  background-color: #fff;
  color: black;
  border: 1px solid blue;
  font-size: 10px;
  min-height: 12px;
  min-width: 15px;
  top: 0;
  left: 1px;
}
.container .main-content .complicated-stuff ul .blood-type {
  background-color: maroon;
}
.container .main-content .complicated-stuff ul .honey-type {
  background-color: #ffc436;
}
.container .main-content .complicated-stuff ul .name {
  margin-top: 50px;
  padding: 0px 15px 10px 15px;
  background-color: transparent;
  color: black;
  border-bottom: 4px solid black;
}
.container .main-content .complicated-stuff ul .no-type {
  background-color: #f0ece5;
  color: #f0ece5;
}
.container .main-content .complicated-stuff ul .annoying {
  background-color: transparent;
  color: black;
  border-bottom: 4px solid black;
}
.container .main-content .complicated-stuff ul .lay {
  background-color: transparent;
  color: black;
  border-bottom: 4px solid black;
  margin-top: 21px;
}
